<section class="navSpacer">
  &nbsp;
</section>

<section class="productImageSection clearfix">
  <div class="mainImageContainer">
    <%= image_tag "product/productImage1.jpg", class: "imageSlide productImage1" %>
    <%= image_tag "product/productImage2.jpg", class: "imageSlide productImage2" %>
    <%= image_tag "product/productImage3.jpg", class: "imageSlide productImage3" %>
    <%= image_tag "product/productImage4.jpg", class: "imageSlide productImage4" %>
    <%= image_tag "product/productImage5.jpg", class: "imageSlide productImage5" %>
  </div>
</section>

<div class="thumbnailContainer mobileThumbContainer clearfix">
  <%= image_tag "product/productImage1.jpg", class: "productThumb productImage1" %>
  <%= image_tag "product/productImage2.jpg", class: "productThumb productImage2" %>
  <%= image_tag "product/productImage3.jpg", class: "productThumb productImage3" %>
  <%= image_tag "product/productImage4.jpg", class: "productThumb productImage4" %>
  <%= image_tag "product/productImage5.jpg", class: "productThumb productImage5" %>
</div>

<section class="productCopySection">

  <h1><%= @product.name %></h1>
  <div class="productDetails">
    <p>A multidimensional, microfine pigment that knows no limits.</p>
    <p style="margin-bottom:15px;">Gold 001 is a limited release of only 1000 units.</p>
    <p>Price: $40.00</p>
    <p>Net Wt.: 4 grams/0.14 Oz</p>
    <p>QTY: 1 (limit one per customer)</p>
    <p>Free Worldwide Shipping</p>
    <div class="soldOut rotate">
      <p>sold out</p>
    </div>
  </div>
  <p class="soldOutPara">A combination of limited production and overwhelming demand made Gold 001 disappear almost instantly. There is another way to get your hands on one of these rare wonders. Watch this space for forthcoming details.</p>
  <!-- <div class="toggleBox clearfix"> -->
    <!-- <div class="toggleHeader clearfix"> -->
      <p class="toggleTitle contentsTitle">contents</p>
      <div class="contentsSection">
      <!-- <p class="plusMinus">+</p> -->
    <!-- </div> -->
    <!-- <div class="openClose"> -->
        <p>Gold 001 pigment</p>
        <p>Metal spatula</p>
        <p>Second life container</p>
        <p>Mehron mixing liquid</p>
    <!-- </div> -->
  <!-- </div> -->
      </div>

  <div class="toggleBox clearfix application">
    <div class="toggleHeader clearfix">
      <p class="toggleTitle">application</p>
      <p class="plusMinus">-</p>
    </div>
    <div class="openClose applicationOpenClose">
      <p>Break the rules and be inventive. Gild eyelids and Cupid’s bow. Electrify brows and lips. Buff into skin for blinding luminosity.</p>
      <p>Use a brush dampened with mixing liquid to optimize application of pigment. Experiment with the amount of liquid to create different effects, from an intense molten gleam to a sheer golden shimmer. Layer pigment over a primer for intense, long-lasting results.</p>
      <p>Break and smash the pigment with spatula and store in second life container. Dig in and play fearlessly.</p>
    </div>
  </div>

  <div class="thumbnailContainer clearfix">
    <%= image_tag "product/productImage1.jpg", class: "productThumb productImage1" %>
    <%= image_tag "product/productImage2.jpg", class: "productThumb productImage2" %>
    <%= image_tag "product/productImage3.jpg", class: "productThumb productImage3" %>
    <%= image_tag "product/productImage4.jpg", class: "productThumb productImage4" %>
    <%#= image_tag "product/productImage5.jpg", class: "productThumb productImage5" %>
  </div>

  <div class="videoWrapper">
    <iframe src="https://player.vimeo.com/video/143704196" width="500" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>


<script type="text/javascript">
  // QUADERNO/STRIPE START
</script>


<footer>
  <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
  <div class="footerBranding">
    &#35;Gold001 <span>|</span> <a href="mailto:contact@patmcgrath.com" target="_top">Contact</a> <span>|</span> Waiting List:

    <%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true",:authenticity_token => true) do -%>
    <!-- <p>&lt; &nbsp;sign up for priority access&nbsp; &gt;</p> -->
    <%= email_field(:email, :address, {id: "email", placeholder: "enter email"}) %>
      <input id="subscribe" type="submit">
      <!-- <button type="button" id="subscribe">SUBMIT</button> -->
    <% end %>
    <span class="newsletterConfirmation"></span>
  </div>
</footer>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://js.quaderno.io/v2/"></script>

<script type="text/javascript">
$('#shippingSelect').change(function() {
if ($(this).val() === 'shipping-false') {
  $('.shippingField').css('display', 'block');
} else {
  $('.shippingField').css('display', 'none');
}
});
</script>
