<!DOCTYPE html>
<html>
<head>
  <title>PatStatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="headerContainer">
    <%= image_tag('logo.png'); %>
    <!-- <h1>PAT McGRATH LABS</h1> -->
    <h3>Gold001</h3>
  </div>

<%= yield %>

</body>
</html>
